<% title ||= false %>
<% filters ||= false %>
<% column_toggles ||= false %>
<% items ||= nil %>
<% header ||= false %>
<% columns ||= [] %>
<% paginate ||= false %>
<% per_page ||= 25 %>
<% namespace ||= nil %>
<% cache_status ||= false %>
<% cache_scope ||= "#{controller_path}/#{action_name}" %>
<% cache_expire ||= false %>
<% wrapper_classes ||= nil %>
<% table_classes ||= nil %>
<% variables ||= nil %>
<% data_controller ||= nil %>
<% data_action ||= nil %>
<% data_url ||= nil %>
<% header_classes ||= nil %>
<% body_classes ||= nil %>
<% empty_message ||= nil %>

<% if paginate && items %>
  <% items = items.paginate(page: params[:page], per_page: per_page) %>
<% end %>

<% if title %>
  <h6><%= title %></h6>
<% end %>
<% if filters %>
  <div class="dropdown d-inline-block">
    <button class="filter-button btn btn-link dropdown-toggle mr-2 mb-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter by
    </button>
    <div class="dropdown-menu">
      <% filters.each do |f| %>
        <a class="dropdown-item" href="#"><%= f %></a>
      <% end %>
    </div>
  </div>
<% end %>
<% if column_toggles %>
  <div class="dropdown d-inline-block">
    <button class="filter-button btn btn-link dropdown-toggle mr-2 mb-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Toggle columns
    </button>
    <div class="dropdown-menu">
      <% column_toggles.each do |c| %>
        <a class="dropdown-item toggler <%= c[1] %> toggled"><%= c[0] %></a>
      <% end %>
    </div>
  </div>
<% end %>
<div class="table-responsive <%= wrapper_classes %>">
  <table class="table <%= table_classes %>" <% if data_controller %>data-controller="<%= data_controller %>"<% end %> <% if data_action %>data-action="<%= data_action %>"<% end %> <% if data_url %>data-url="<%= data_url %>"<% end %>>
    <%= render partial: 'layouts/synapse_ui/components/tables/header', locals: { header: header, columns: columns, variables: variables, header_classes: header_classes } %>
    <%= render partial: 'layouts/synapse_ui/components/tables/body', locals: { columns: columns, items: items, type: type, cache_scope: cache_scope, cache_status: cache_status, cache_expire: cache_expire, namespace: namespace, data_url: data_url, variables: variables, body_classes: body_classes, empty_message: empty_message } %>
  </table>
</div>

<% if paginate && items %>
  <%= will_paginate items.paginate(page: params[:page], per_page: per_page) %>
<% end %>

<% if column_toggles %>
  <script type="text/javascript">
    <% column_toggles.each do |c| %>
      $('.toggler.<%= c[1] %>.toggled').click(function() {
        $(this).addClass('untoggled').removeClass('toggled');
        $('th.<%= c[1] %>').css('display', 'none');
        $('td.<%= c[1] %>').css('display', 'none');
        console.log("Untoggled");
      });
      $('.toggler.<%= c[1] %>.untoggled').click(function() {
        $(this).addClass('toggled').removeClass('untuggled');
        $('th.<%= c[1] %>').css('display', 'table-cell');
        $('td.<%= c[1] %>').css('display', 'table-cell');
        console.log("Toggled");
      });
    <% end %>
  </script>
<% end %>
