<% image ||= false %>
<% image_width_percentage ||= 50 %>
<% sections ||= false %>
<div id="menu" class="modal fade modal-full" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="d-block fixed-top mt-4 mr-4 mt-lg-5 mr-lg-5 close-wrapper">
    <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
      <i class="fas fa-times-circle"></i>
    </button>
  </div>
  <div class="py-5 modal-dialog">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <% if image %><img src="<%= image %>" width="<%= image_width_percentage %>%"/><% elsif title && display_menu_title_mobile %><%= title %><% end %>
        </div>
      </div>
      <div class="row justify-content-center" id="menuCollapse">
        <div class="col-md-8 text-left">
          <ul id="menu-full" class="nav navbar-nav mt-5 mb-3 border-bottom">
            <% if sections %>
              <% sections.each do |s| %>
                <li class="nav-item dropdown py-3">
                  <% if s[:items] %>
                    <a href="#" class="nav-link float-right ml-3" data-toggle="dropdown"><i class="fal fa-caret-circle-down"></i><i class="fas fa-caret-circle-up"></i></a>
                  <% end %>
                  <% if s[:path_variable] %>
                    <%= link_to send(s[:path], eval(s[:path_variable])), method: s[:method], class: 'nav-link text-right' do %><% if s[:icon] %><i class="<%= s[:icon] %>"></i><% end %><%= s[:title] %><% end %>
                  <% else %>
                    <%= link_to send(s[:path]), method: s[:method], class: 'nav-link text-right' do %><% if s[:icon] %><i class="<%= s[:icon] %>"></i><% end %><%= s[:title] %><% end %>
                  <% end %>
                  <% if s[:items] %>
                    <div class="dropdown-menu">
                      <% s[:items].each do |i| %>
                        <%= link_to send(i[:path]), method: i[:method], class: 'dropdown-item text-right' do %><% if i[:icon] %><i class="<%= i[:icon] %>"></i><% end %><%= i[:title] %><% end %>
                      <% end %>
                    </div>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
